* {
    outline: none;
    box-shadow: none;
}

window {
    background-color: #000000;
    border: 2px solid #b11217;
    border-radius: 0px;
}

#input {
    margin: 10px;
    padding: 10px;
    border-radius: 0px;
    background-color: #0b0b0b;
    color: #F8F3E0;
    border: 1px solid #b11217;
}

#entry {
    padding: 8px;
    border-radius: 0px;
    color: #F8F3E0;
}

#entry:selected {
    background-color: #b11217;
    color: #FFA824;
}